<h1>Modifier la page artiste</h1>

<%= render "form", artist: @artist %>

<br>

<div>
  <%= link_to "Voir la page de l'artiste", @artist %> |
  <%= link_to "Retourner à la page des artistes", artists_path %>
</div>
