<p style="color: green"><%= notice %></p>
<header class="titre1" > <h1>Lezartistes, partage tes talents</h1> </header>


<div id="artists">
  <% @artists.each do |artist| %>
    <%= render artist %>
    <p>
      <%= link_to "Voir la page complète de l'artiste", artist %>
    </p>
  <% end %>
</div>

<%= link_to "Créer un nouvel artiste", new_artist_path %>
